.current {
    border-bottom: 3px solid #1334B3;
    color: #1334B3 !important;
    font-weight: bold;
}

.col-inputs {
    width: 48%;
    color: grey;
}

.col-inputs-full {
    width: 98%;
    color: grey;
}

/* Login modal in theme setup */
.page {
    margin-top: 10px;
    width: 200px;
    height: 120px;
    border-radius: 8px;
    background-color: #F5F5F5;
    border: 2px solid #F5F5F5;
}

.page-selected {
    border: 2px solid #153AC7;
}

.login-modal {
    position: relative;
    top: 10px;
    margin-inline: 10px;

    height: 100px;
    width: 60px;
    border-radius: 8px;
    background-color: #153AC7;
}

.float-center {
    margin-inline: auto;
}

@media only screen and (max-width: 865px) {
    .col-inputs {
        width: 100%;
    }
    .col-inputs-full {
        width: 100%;
    }
}