.alert-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 30px;
    transition: 0.1s;
}

.centered-flex-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

.border-none {
    border: none;
    outline: none;
}
.border-none:focus {
    border: none;
    outline: none;
}

/* Scroll bar */
::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #233244;
}

/* Custom Background Colors */
.bg-blue {
    background: #1334B3;
    color: white;
}

/* Custom Text Colors */
.text-grey {
    color: #B8BABC;
}
.text-darkblue {
    color: #233244;
}
.text-blue {
    color: #1334B3;
}


/* custon font size */
.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}