@font-face {
  font-family: 'Google Sans';
  src: local('Google Sans'), url('/src/fonts/Google-Sans.woff') format('woff');
}

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Google Sans;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
